<font size="1" face="Verdana">
	${publish_report_summary}
	<br/><br/>
	#set ( $numSuccessfulJobs = ${successfulJobs.size()} )
	#set ( $numUnsuccessfulJobs = ${unsuccessfulJobs.size()} )
	#set ( $numSkippedJobs = ${skippedJobs.size()} )
	<a href="#completedjobs">${publish_report_succjobs} ($numSuccessfulJobs)</a> | 
	<a href="#unsuccessfuljobs">${publish_report_unsuccjobs} (${numUnsuccessfulJobs})</a> |
	<a href="#skippedjobs">${publish_report_skippedjobs} (${numSkippedJobs})</a>
	<br/>
	
	## Section for failed destinations
	
	#if( ${failedDestinations.size()} > 0)
	<br/>
	<font color="red">
		<b>${publish_report_destfailures}</b>
	<ul>
		#foreach( $failedDest in $failedDestinations )
		#set( $destination = ${failedDest.Destination} )
		<li>[${destination.Name}] : ${failedDest.FailureAsString}</li>
		#end
	</ul>
	</font>
	#end
	
	<a name="completedJobs"/>
	<br/>${publish_report_succjobs} ($numSuccessfulJobs): [<a href="#top">${publish_report_toplink}</a>]
	<br/>----------------------------------------<br/>
	#if( $numSuccessfulJobs > 0 )
		#if( $publishMode.toString() == "publish" )
			#foreach( $job in $successfulJobs )
				<br/>
				#if ($job.Destination)
					[Destination: $job.Destination.Name]
				#else
					[Connector: $job.Connector.Name]
				#end
				#if ($job.Target.Path)
					[$job.Target.Path]
				#end
				#if ($job.Site.Name)
					$job.Site.Name:
				#end
				
				#if (${job.EmptyPath}) 
					${publish_report_no_publishable_asset}
				#else
					${job.PublishableEntityPath}
				#end
			#end
		#elseif ( $publishMode.toString() == "unpublish" )
			#set( $numAssetsRemoved = $numSuccessfulJobs )
			<font color="black">
				<b>${publish_report_assets_removed} (${numAssetsRemoved}):</b>
			</font>
			<br/>
			#foreach( $job in $successfulJobs )
				<br/>
				#if ($job.Destination)
					[Destination: $job.Destination.Name]
				#else
					[Connector: $job.Connector.Name]
				#end
				#if ($job.Target.Path)
					[$job.Target.Path]
				#end
				#if ($job.Site.Name)
					$job.Site.Name:
				#end
				#if ($job.UnpublishableEntityJob)
					${job.UnpublishableEntity.PublishDisplayPath}
				#else
					#if (${job.EmptyPath}) 
						${publish_report_no_publishable_asset}
					#else
						$job.PublishableEntityPath
					#end
				#end
			#end
			<br/><br/>
		#end
	#else
		<span>${publish_report_succjobs_none}</span>
	#end
	<br/><br/>
	
	<a name="unsuccessfuljobs"/>
	<br/>${publish_report_unsuccjobs} (${numUnsuccessfulJobs}): [<a href="#top">${publish_report_toplink}</a>]
	<br/>----------------------------------------<br/>
	#if( $numUnsuccessfulJobs > 0 )
		#foreach( $job in $unsuccessfulJobs )
			<font color="red">
				<br/><b>
				#if ($job.Destination)
					[Destination: $job.Destination.Name]
				#else
					[Connector: $job.Connector.Name]
				#end 
				#if ($job.Target.Path)
					[$job.Target.Path]
				#end
				#if ($job.Site.Name)
					$job.Site.Name:
				#end
				#if ($job.UnpublishableEntityJob)
					${job.UnpublishableEntity.PublishDisplayPath}
				#else
					#if (${job.EmptyPath}) 
						${publish_report_no_publishable_asset}
					#else
						${job.PublishableEntityPath}
					#end
				#end
				</b>
			</font>
			#set( $exception = ${job.getExceptionAsString()} )
			#if( $exception )
			<pre>${exception}</pre>
			#end
		#end
	#else
		<span>${publish_report_unsuccjobs_none}</span>
	#end
	<br/><br/>
	
	<a name="skippedjobs"/>
	<br/>${publish_report_skippedjobs} (${numSkippedJobs}): [<a href="#top">${publish_report_toplink}</a>]
	<br/>----------------------------------------<br/>
	#if( $numSkippedJobs > 0 )
		#foreach( $job in $skippedJobs )
			<br/>
			#if ($job.Destination)
				[Destination: $job.Destination.Name]
			#else
				[Connector: $job.Connector.Name]
			#end
			 
			#if ($job.Target.Path)
				[$job.Target.Path]
			#end
			#if ($job.Site.Name)
				$job.Site.Name:
			#end
			#if ($job.UnpublishableEntityJob)
				${job.UnpublishableEntity.PublishDisplayPath}
			#else
				#if (${job.EmptyPath}) 
					${publish_report_no_publishable_asset}
				#else
					${job.PublishableEntityPath}
				#end
			#end
		#end
	#else
		<span>${publish_report_skippedjobs_none}</span>
	#end
</font>