SITE_ID = ""
WSDL = ""
AUTH = {'username': '', 'password': ''}

SOAP_URL = ''
TEST_PAGE_ID = ''
TEST_BLOCK_ID = ''
TEST_PROGRAM_BLOCK_ID = ''
TEST_FACULTY_PAGE_ID = ''
TEST_METADATA_SET_ID = ''
TEST_DATA_DEFINITION_ID = ''