#macro( openlink $asset) ${openEntityUrlRoot}?id=$_EscapeTool.url($asset.id)&amp;type=${asset.type}#end
#macro( editlink $asset) ${editEntityUrlRoot}?id=$_EscapeTool.url($asset.id)&amp;type=${asset.type}#end
#macro( sitelink $site) ${switchSiteUrlRoot}?#if($site)siteId=$_EscapeTool.url($site.id)#{else}siteName=$_EscapeTool.url($globalText)#end#end

#macro( title $asset ) #if( $asset.title && $asset.title!="" )${asset.title}#elseif($asset.displayName && $asset.displayName!="")${asset.displayName}#else${asset.name}#end#end
#macro( image $assetType) cid:#if( $assetType == "page" )pageIcon#{else}fileIcon#end#end
#macro( imagealt $assetType) #if( $assetType == "page" )${pageAssetAlt}#{else}${fileAssetAlt}#end#end

<p style="font:normal 14px Arial, sans-serif;">$introMessage:</p>

<table border="0" cellpadding="2" cellspacing="2" style="border:none;font:normal 12px Arial, sans-serif; width:100%;">
	<tbody>
	    <tr><th colspan="3" style="background-color:#eee;font-size:14px;font-weight:normal;text-align:left;"><a href="#sitelink($site)">#if($site)${site.name}#else${globalText}#end</a> (${assetsBySite.size()})</th></tr>
    	#foreach ($asset in $assetsBySite)
	    <tr>
			<td valign="top" style="text-align:right;width:5%"><img src="#image($asset.type)" alt="#imagealt($asset.type)" style="width:14px"></td>
			<td valign="top" style="width:80%">#title($asset) <a style="padding-left:5px;font-size:11px;color:#777" href="#openlink($asset)">${asset.path}</a></td>
			<td valign="top" style="width:15%"><a href="#openlink($asset)">${viewText}</a> | <a href="#editlink">${editText}</a></td>
	    </tr>
    	#end
	</tbody>
</table>

#if ($message)
<p style="font:normal 14px Arial, sans-serif;">${additionalCommentsMessage}:</p>

<blockquote style="white-space: pre-wrap; font:normal 14px Arial, sans-serif;">${message}</block>
#end
