<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
  "http://www.springframework.org/dtd/spring-beans.dtd">
<!--+  
    | Spring configuration for our Struts actions declares
    | Struts actions as beans allowing for injection
    | 
    | Author:  Bradley Wagner
    | Since:   5.0
    +-->
<beans>
	<bean id="baseAction" class="com.hannonhill.cascade.view.struts.action.BaseCascadeAction" abstract="true">
		<property name="serviceProvider" ref="serviceProvider"/>
	</bean>
	
	<bean id="cascadeBackgroundJobExecutor" class="com.hannonhill.cascade.util.thread.CascadeBackgroundJobExecutor"/>
	
	<!-- Default actions -->
	<bean name="/login" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.security.LoadLoginAction"/>
	<bean name="/loginsubmit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.security.LogonAction">
		<property name="performLogin" ref="performLogin"/>
		<property name="loginChecks" ref="loginChecks"/>
	</bean>
	<bean name="/logoff" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.security.LogoffAction">
		<property name="performLogout" ref="performLogout" />
	</bean> 
	<bean name="/home" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.DashboardAction"/>
	<bean name="/removeUserDashboard" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.RemoveUserDashboardAction"/>
	<bean name="/siteStats" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.SiteStatsAction"/>
	<bean name="/sites/dashboard" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.SiteDashboardAction"/>
	<bean name="/listlocks" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.lock.ListLocksAction"/>
	<bean name="/loadoptimizedb" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.optimize.LoadOptimizeDatabaseAction"/>
	<bean name="/loadstyles" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.wysiwyg.LoadStylesAction"/>
	<bean name="/optimizedb" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.optimize.OptimizeDatabaseAction"/>
	<bean name="/preferences" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.preferences.LoadPreferencesAction"/>
	<bean name="/emailtest" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.preferences.EmailTestAction"/>
	<bean name="/savepreferences" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.preferences.SavePreferencesAction"/>
	<bean name="/loadPublishTriggerConfig" parent = "baseAction" class="com.hannonhill.cascade.view.struts.action.LoadPublishTriggerConfigAction"/>
	<bean name="/submitPublishTriggerConfig" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.SubmitConfigurationAction"/>
	<bean name="/loadCustomAuthenticationConfig" parent = "baseAction" class="com.hannonhill.cascade.view.struts.action.LoadCustomAuthenticationConfigAction"/>
	<bean name="/submitCustomAuthenticationConfig" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.SubmitConfigurationAction"/>
	<bean name="/loadLdapConfig" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.LoadLdapConfigAction"/>
	<bean name="/submitLdapConfiguration" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.SubmitLdapConfigAction"/>
	<!--  This action handles License file submits, IMPROVEMENT: convert to using SubmitConfigurationAction -->
	<bean name="/productLicenseSubmit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.AuthenticatedUploadLicenseAction"/>
	<bean name="/productLicense" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.LoadAuthenticatedUploadLicenseAction"/>
	<bean name="/uploadLicenseSubmit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.UploadLicenseAction"/>
	<bean name="/uploadLdapConfigSubmit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.UploadLDAPConfigurationAction"/>
	<bean name="/publisherstatus" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.publish.PublishStatusAction" />
	<bean name="/publishqueueajax" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.PublishQueueAjaxAction" />
	<bean name="/cancelpublishjob" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.publish.CancelPublishJobAction" />
	<bean name="/reorderpublishjob" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.publish.ReorderPublishJobAction"/>
	<bean name="/syncldap" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.SyncLDAPAction" />
	<bean name="/searchandreplace" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.search.replace.SearchAndReplaceLoadAction" />
	<bean name="/searchandreplacesubmit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.search.replace.SearchAndReplaceSubmitAction" />
	<bean name="/about" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.LoadAboutAction"/> 
	<bean name="/rss" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.RenderRSSAction"/> 
	<bean name="/regionInlineEdit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.render.RenderRegionInlineEditAction"/>
	<bean name="/listworkflows" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.workflow.ListWorkflowsAction"/>
	<bean name="/multisubmit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.multisubmit.MultiSubmitAction"/>
	<bean name="/multisubmitconfirm" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.multisubmit.LoadConfirmationScreenAction"/>
	<bean name="/admin/submitsupportrequest" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.SupportRequestSubmitAction"/>
	<bean name="/chooseruploadsubmit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ChooserUploadAction">
		<property name="fileTransferHandler" ref="fileTransferHandler"/>
	</bean>
	<bean name="/choose" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ChooseEntityAction"/>
	<bean name="/rb" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.recyclebin.RecycleBinAction"/>
	<bean name="/permanentlyDelete" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.recyclebin.PermanentlyDeleteAction"/>
	<bean name="/restore" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.recyclebin.RestoreAction"/>
	<bean name="/submitRestore" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.recyclebin.SubmitRestoreAction"/>
	<bean name="/emptyRecycleBin" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.recyclebin.EmptyRecycleBinAction"/>
	<bean name="/sendSystemBroadcastMessage" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.SendSystemBroadcastMessageAction"/>
	<bean name="/broadcastMessages" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.LoadBroadcastMessagesAction"/>
	<bean name="/ajax/getLastBroadcastMessage" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.GetLastBroadcastMessageAction"/>
	<bean name="/ajax/markLastBroadcastMessageRead" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.MarkLastBroadcastMessageReadAction"/>
	<bean name="/exportDatabase" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.DatabaseExportAction"/>
	
	<!-- Admin and security actions -->
	<bean name="/admin/dashboard" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.AdministrationDashboardAction"/>
	<bean name="/admin/report" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.reports.ReportsAction"/>
	<bean name="/admin/security" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.security.LoadSecurityBeansAction"/>
	<bean name="/admin/workflowbuilder" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.workflow.LoadWorkflowBuilderAction"/>
	<bean name="/admin/workflowbuildersubmit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.workflow.SubmitWorkflowBuilderAction"/>
	<bean name="/admin/submittriggers" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.plugins.ManagePluginsAction"/>
	<bean name="/admin/submitplugins" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.plugins.ManagePluginsAction"/>
	<bean name="/admin/diagnostic/transport" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.diagnostic.transport.LoadTransportTestAction"/>
	<bean name="/admin/diagnostic/transportsubmit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.diagnostic.transport.SubmitTransportTestAction"/>
	<bean name="/admin/diagnostic/destination" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.diagnostic.destination.LoadDestinationTestAction"/>
	<bean name="/admin/diagnostic/destinationsubmit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.diagnostic.destination.SubmitDestinationTestAction"/>
	<bean name="/admin/logging/configure" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.logging.LoadLoggingConfigurationAction"/>
	<bean name="/admin/logging/configuresubmit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.logging.SubmitLoggingConfigurationAction"/>
	<bean name="/admin/manageplugins" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.plugins.LoadManagePluginsAction"/>
	<bean name="/security/browse" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.search.security.LoadBrowseAction"/>
	<bean name="/syncConnector" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ManualConnectorSyncAction"/>
	<bean name="/verifyTwitterConnectorCallback" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.TwitterConnectorVerificationCallbackAction"/>
	
	<!--  Ajax actions -->
	<bean name="/ajax/changeParentFolder" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.ChangeParentFolderAjaxAction" />
	<bean name="/ajax/search" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.SearchAjaxAction" />
	<bean name="/ajax/spellCheck" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.SpellCheckAction" />
	<bean name="/ajax/reposition" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.RepositionEntityAction"/>
	<bean name="/ajax/getcontainerchildren" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.GetContainerChildrenAction"/>
	<bean name="/ajax/getAvailablePageConfigurations" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.GetAvailablePageConfigurationsAction"/>
	<bean name="/ajax/getAvailableMetadataFields" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.GetAvailableMetatadataFieldsAction"/>
	<bean name="/ajax/verifyConnector" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.VerifyConnectorAction"/>
	<bean name="/ajax/getRenderingMetrics" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.GetRenderingMetricsAction"/>
	<bean name="/ajax/reloadPageRegions" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.ReloadPageRegionsAction"/>
	<bean name="/ajax/addNewPageConfiguration" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.AddNewPageConfigurationAction"/>
	<bean name="/ajax/removePageConfiguration" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.RemovePageConfigurationAction"/>
	<bean name="/ajax/imgEditorActions" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.ImageOperationsAction"/>
    <bean name="/ajax/pageStructuredDataModify" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.StructuredDataModifyAjaxAction"/>    
    <bean name="/ajax/blockStructuredDataModify" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.StructuredDataModifyAjaxAction"/>
	<bean name="/ajax/loadIndividualStats" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.LoadIndividualStatsAction" />
	<bean name="/ajax/uploadConfiguration" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.UploadFileAction" />
	<bean name="/ajax/uploadFile" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.UploadFileAction" />
	<bean name="/ajax/uploadSiteImport" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.UploadFileAction" />
	<bean name="/ajax/uploadZipArchive" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.UploadFileAction" />
	<bean name="/ajax/uploadTemplate" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.UploadFileAction" />
	<bean name="/ajax/uploadFormat" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.UploadFileAction" />
	<bean name="/ajax/uploadDataDefinition" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.UploadFileAction" />
	<bean name="/ajax/uploadWorkflowDefinition" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.UploadFileAction" />
	<bean name="/ajax/uploadBlock" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.UploadFileAction" />
	<bean name="/ajax/uploadTextBlock" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.UploadFileAction" />	
	<bean name="/ajax/uploadSiteZip" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.UploadFileAction" />
	<bean name="/ajax/uploadLdapConfig" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.UploadFileAction" />
	<bean name="/ajax/loadSiteStats" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.LoadSiteStatsAction" />
	<bean name="/ajax/loadAssetStats" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.LoadAssetStatsAction" />
	<bean name="/ajax/chooserAutocomplete" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.ChooserAutocompleteAjaxAction" />
	<bean name="/ajax/filter" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.FilterAjaxAction" />
	<bean name="/ajax/submitAccessToken" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.SubmitAccessTokenAction" />
	<bean name="/ajax/getSpectateFormCode" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.GetSpectateFormRenderAction"/>
	<bean name="/ajax/renderPreview" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.RenderPreviewForFormatAction"/>
	<bean name="/ajax/renderTransformationPreview" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.RenderTransformationPreviewAction"/>
	<bean name="/ajax/getSwitchableSites" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.GetSwitchableSitesAjaxAction" />
	<bean name="/ajax/getEffectiveAbilities" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.GetEffectiveAbilitiesAjaxAction" />
	<bean name="/ajax/dashboard/widget/analytics" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.LoadSiteStatsAction" />
  
	<!-- Datacheck actions -->
	<bean name="/datacheck/link" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.datacheck.LoadLinkCheckAction" />
	<bean name="/datacheck/accessibility" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.datacheck.LoadAccessibilityCheckAction" />
	<bean name="/datacheck/spell" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.datacheck.LoadSpellCheckAction" />
	<bean name="/datacheck/submitspell" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.datacheck.SaveSpellCheckAction" />
	<bean name="/datacheck/workflow" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.workflow.LoadWorkflowScreenAction" />
	<bean name="/datacheck/configureworkflow" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.workflow.LoadWorkflowConfigurationScreen"/>
	<bean name="/datacheck/submitworkflowconfiguration" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.workflow.SubmitWorkflowConfigurationAction"/>
	<bean name="/datacheck/finalize" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.edit.FinalizeEditsAction"/>
	
	<!-- Entity actions -->
	<bean name="/entity/edit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.edit.LoadEditFormAction"/>
	<bean name="/entity/access" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.access.LoadAccessRightsAction"/>
	<bean name="/entity/accesssite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.LoadAccessSiteAction"/>
	<bean name="/entity/submitaccess" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.access.SaveAccessRightsAction"/>
	<bean name="/entity/submitaccesssite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.SubmitAccessSiteAction"/>
	<bean name="/entity/createmessage" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.message.CreateMessageAction"/>
	<bean name="/deleteAllMessages" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.message.DeleteAllMessagesAction"/>
	<bean name="/entity/publish" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.publish.LoadPublishEntityAction" />
	<bean name="/entity/publishsite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.LoadPublishSiteAction" />
	<bean name="/entity/submitpublish" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.publish.PublishEntityAction" />
	<bean name="/entity/submitpublishsite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.SubmitPublishSiteAction" />
	<bean name="/entity/reference" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.reference.LoadReferenceEntityAction"/>
	<bean name="/entity/submitrefentity" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.reference.ReferenceEntityAction"/>
	<bean name="/entity/listfactories" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.assetfactory.BuildAssetFactoryMenuAction"/>
	<bean name="/entity/bottommenu" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.assetfactory.BottomMenuAction"/>
	<bean name="/entity/sendmessage" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.message.SendMessageAction"/>
	<bean name="/entity/copy" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.copy.LoadCopyEntityAction"/>	
	<bean name="/entity/submitcopy" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.copy.CopyEntityAction">
		<property name="cascadeBackgroundJobExecutor" ref="cascadeBackgroundJobExecutor"/>
	</bean>
	<bean name="/entity/move" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.move.LoadMoveEntityAction"/>	
	<bean name="/entity/submitmove" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.move.MoveEntityAction"/>  
	<bean name="/entity/delete" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.delete.LoadDeleteEntityAction"/>
	<bean name="/entity/submitdelete" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.delete.DeleteEntityAction" />
	<bean name="/entity/relationships" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.LoadSubscribersAction"/>
	<bean name="/entity/admin/start" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.create.StartAdminAreaAssetAction"/>
	<bean name="/entity/start" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.create.StartFromFactoryAction"/>
	<bean name="/entity/deleteversion" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.delete.DeleteVersionAction"/>
	<bean name="/entity/submitlock" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.lock.SubmitLockCommandAction"/>
	<bean name="/entity/assignworkflow" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.workflow.LoadWorkflowAssignmentAction"/>
	<bean name="/entity/submitworkflowassignment" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.workflow.SubmitWorkflowAssignmentAction"/>
	<bean name="/entity/submitintegrate" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.integrate.SubmitIntegrateFolder">
		<property name="cascadeBackgroundJobExecutor" ref="cascadeBackgroundJobExecutor"/>
	</bean>
	<bean name="/entity/unpack" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.zip.LoadUnpackZipFileScreen"/>
	<bean name="/recycleBinChecker" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.recycleBinChecker.LoadRecycleBinCheckerScreen" />
	<bean name="/entity/submitfileunpack" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.zip.SubmitUnpackZipFile"/>
	<bean name="/pathRepairTool" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.LoadPathRepairToolScreen" />
	<bean name="/submitPathRepairTool" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.SubmitPathRepairTool" />
	<bean name="/submitrecycleBinChecker" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.recycleBinChecker.SubmitRecycleBinChecker"/>
	<bean name="/entity/newsite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.LoadNewSiteAction"/>
	<bean name="/entity/reposition" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.RepositionEntityAction"/>
	<bean name="/entity/choose" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ChooseEntityAction"/>
	<bean name="/entity/choosesite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ChooseSiteAction"/>
	<bean name="/entity/audit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.security.LoadAuditsAction"/>
	<bean name="/entity/versions" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.versions.LoadVersionsAction"/>
	<bean name="/entity/open" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.OpenEntityAction"/>
	<bean name="/entity/activate" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.versions.ActivateVersionAction"/>
	<bean name="/entity/filteraudit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.security.FilterAuditsAction"/> 
	<bean name="/entity/submitnewsite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.SubmitNewSiteAction"/>
	<bean name="/entity/choosekeywords" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.edit.SelectGlobalKeywordsAction"/>
	<bean name="/entity/loadsubmitdraftinline" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.edit.LoadSubmitDraftInlineAction"/>
	<bean name="/entity/savedraft" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.edit.SaveDraftAction">
		<property name="transferHandlerProvider" ref="transferHandlerProvider"/>
	</bean>
	<bean name="/entity/deletedraft" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.delete.DeleteDraftAction"/>
	<bean name="/entity/tabs" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.ShowTabsAction"/>
	
	<!-- Entity bulk change actions -->
	<bean name="/entity/bulkchange" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.bulkchange.StartBulkChangeAction" />
	<bean name="/entity/bulkchange/submit/generatelist" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.bulkchange.SubmitBulkChangeAction" />
	<bean name="/entity/bulkchange/submit/selectassets" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.bulkchange.SubmitBulkChangeAction" />
	<bean name="/entity/bulkchange/submit/selectchanges" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.bulkchange.SubmitBulkChangeAction" />
	<bean name="/entity/bulkchange/submit/confirm" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.bulkchange.SubmitBulkChangeAction" />
	
	<!-- Render actions -->
	<bean name="/render/block" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.render.RenderBlockAction"/>
	<bean name="/render/message" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.render.RenderMessageAction" />
	<bean name="/render/entityXML" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.render.RenderEntityXMLAction" />
	<bean name="/render/velocityFormat" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.render.RenderVelocityFormatAction"/>
	<bean name="/render/page" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.render.RenderPageAction" />
	<bean name="/render/file" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.render.RenderFileAction" />
	<bean name="/render/embedded" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.render.RenderFileEmbeddedAction" />
	<bean name="/render/log" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.render.RenderLogAction"/>
	
	<!-- Search actions -->
	<bean name="/search/loadrebuildindex" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.search.index.LoadConfigureSearchAction"/>
	<bean name="/search/configuresearch" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.search.index.ConfigureSearchAction"/>
	<bean name="/choosersearchsubmit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ChooserSearchPerformAction"/>
	<bean name="/searchsubmit" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.SearchPerformAction"/>
	<bean name="/search" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.SearchLoadAction"/>		
	
	<!-- Workflow actions -->
	<bean name="/workflow/actionselect" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.workflow.ProcessWorkflowActionSelectionAction"/>
	<bean name="/workflow/convertsteptouserstep" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.workflow.ConvertStepToUserStepAction"/>

	<!--  Site Actions -->
	<bean name="/switchSite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.SwitchSiteAction"/>
	<bean name="/entity/sitemigration/startmigration" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.sitemigration.StartMigrationAction"/>
	<bean name="/entity/sitemigration/selectdestinations" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.sitemigration.DestinationSelectionAction"/>
	<bean name="/entity/sitemigration/selectrolesusersgroups" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.sitemigration.RoleUserGroupSelectionAction"/>
	<bean name="/entity/sitemigration/migrationsummary" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.sitemigration.MigrationSummaryAction" />
	<bean name="/entity/sitemigration/testmigration" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.sitemigration.TestMigrationAction" />
	<bean name="/entity/sitemigration/finalizemigration" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.sitemigration.FinalizeMigrationAction"/>
	<bean name="/entity/opensite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.OpenSiteAction"/>
	<bean name="/entity/startsite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.StartSiteAction"/>
	<bean name="/entity/createsite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.LoadCreateSiteFormAction"/>
	<bean name="/entity/submitcreatesite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.SubmitStartSiteAction"/>
	<bean name="/entity/editsite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.LoadSiteEditFormAction"/>
	<bean name="/entity/submiteditsite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.EditSiteSubmitAction"/>
	<bean name="/entity/deletesite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.LoadDeleteSiteAction"/>
	<bean name="/entity/submitdeletesite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.SubmitDeleteSiteAction"/>
	<bean name="/entity/copysite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.LoadCopySiteAction"/>
	<bean name="/entity/submitcopysite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.SubmitCopySiteAction">
		<property name="cascadeBackgroundJobExecutor" ref="cascadeBackgroundJobExecutor"/>
	</bean>
	<bean name="/entity/exportsite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.LoadExportSiteAction"/>
	<bean name="/entity/submitexportsite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.SubmitExportSiteAction">
		<property name="cascadeBackgroundJobExecutor" ref="cascadeBackgroundJobExecutor"/>
	</bean>
	<bean name="/entity/importsite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.LoadImportSiteAction"/>
	<bean name="/entity/submitimportsite" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.SubmitImportSiteAction">
		<property name="cascadeBackgroundJobExecutor" ref="cascadeBackgroundJobExecutor"/>
	</bean>
	<bean name="/ajax/siteExportAvailable" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.site.SiteExportAvailableForDownloadAction"/>
	
	<bean name="/ajax/userGroupSelect" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.UserGroupSelectAjaxAction"/>
	<bean name="/dashboard/staleassets/notify" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.SubmitStaleAssetNotifyAction"/>
	<bean name="/dashboard/staleassets/scheduleReview" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ScheduleStaleAssetReviewAction"/>
	<bean name="/entity/publishrelationships" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.publish.PublishSubscribersAction">
		<property name="viewBuilderProvider" ref="viewBuilderProvider"/>
	</bean>
	<bean name="/dashboard/staleassets/exportCsv" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.reports.StaleContentCsvAction"/>
    
    <!-- 
     - Dashboard + Widgets
     -->
    <bean name="/ajax/dashboard/overview" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.dashboard.OverviewDashboardAction"/>
    <bean name="/ajax/dashboard/widget/messages" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.dashboard.widget.MessagesWidgetAction"/>
    <bean name="/ajax/dashboard/widget/newcontent" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.dashboard.widget.NewContentWidgetAction"/>
    <bean name="/ajax/dashboard/widget/stalecontent" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.dashboard.widget.StaleContentWidgetAction"/>
    <bean name="/ajax/dashboard/widget/drafts" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.dashboard.widget.DraftsWidgetAction"/>
    <bean name="/ajax/dashboard/widget/lockedassets" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.dashboard.widget.LockedAssetsWidgetAction"/>
    <bean name="/ajax/dashboard/widget/workflows" parent="baseAction" class="com.hannonhill.cascade.view.struts.action.ajax.dashboard.widget.WorkflowsWidgetAction"/>
</beans>