<font size="1" face="Verdana">
	${summary}
	<br/><br/>
	#set ( $numMiscellaneous = ${miscellaneous.size()} )
	#set ( $numWarnings = ${warnings.size()} )
	#set ( $numErrors = ${errors.size()} )
	#set ( $numSuggestions = ${suggestions.size()} )
	<a href="#miscellaneous">${labelMiscellaneous} ($numMiscellaneous)</a> |
	<a href="#errors">${labelErrors} (${numErrors})</a> |
	<a href="#warnings">${labelWarnings} ($numWarnings)</a> |
	<a href="#suggestions">${labelSuggestions} ($numSuggestions)</a>  
	<br/>
	
	<a name="miscellaneous"/>
	<br/>${labelMiscellaneous} ($numMiscellaneous): [<a href="#top">${labelTop}</a>]
	<br/>----------------------------------------<br/>
	#if( $numMiscellaneous > 0 )
		${labelMiscellaneousExplanation}
		<ul>
			#foreach( $m in $miscellaneous )
				<li>${m}</li>
			#end
		</ul>
	#else
		<p>${labelNone}</p>
	#end
	<br/>
	<a name="errors"/>
	<br/>${labelErrors} ($numErrors): [<a href="#top">${labelTop}</a>]
	<br/>----------------------------------------<br/>
	#if( $numErrors > 0 )
		${labelErrorsExplanation}
		<table style="font-size: 1em" cellspacing="4">
			<tr>
				<th>${labelAssetType}</th>
				<th>${labelAssetPath}</th>
				<th>${labelPropertyName}</th>
				<th>${labelMessage}</th>
			<tr>
			#foreach( $error in $errors )
				<tr>
					#if ($error.dom.id)
						<td>${error.type}</td>
						<td><a href="${contextPath}/entity/open.act?id=${error.dom.id}&amp;type=${error.dom.type}" target="_parent">${error.path}</a></td>
					#elseif ( $error.dom )
						<td>${error.type}</td>
						<td>
							#if ($error.path)
								${error.path}
							#end
						</td>						
					#else
						<td></td>
						<td></td>
					#end
					
					<td>
						#if ($error.propertyName)
							${error.propertyName}
						#end
					</td>
					
					<td>
						#if ($error.message)
							${error.message}
						#end
					</td> 
				</tr>
			#end
		</table>
	#else
		<p>${labelNone}</p>
	#end
	<br/>
	<a name="warnings"/>
	<br/>${labelWarnings} ($numWarnings): [<a href="#top">${labelTop}</a>]
	<br/>----------------------------------------<br/>
	#if( $numWarnings > 0 )
		${labelWarningsExplanation}
		<table style="font-size: 1em" cellspacing="4">
			<tr>
				<th>${labelAssetType}</th>
				<th>${labelAssetPath}</th>
				<th>${labelPropertyName}</th>
				<th>${labelMessage}</th>
			<tr>
			#foreach( $warning in $warnings )
				<tr>
					#if ($warning.dom.id)
						<td>${warning.type}</td>
						<td><a href="${contextPath}/entity/open.act?id=${warning.dom.id}&amp;type=${warning.dom.type}" target="_parent">${warning.path}</a></td>
					#elseif ( $warning.dom )
						<td>${warning.type}</td>
						<td>
							#if ($warning.path)
								${warning.path}
							#end
						</td>						
					#else
						<td></td>
						<td></td>
					#end
					
					<td>
						#if ($warning.propertyName)
							${warning.propertyName}
						#end
					</td>
					
					<td>
						#if ($warning.message)
							${warning.message}
						#end
					</td> 
				</tr>
			#end
		</table>
	#else
		<p>${labelNone}</p>
	#end
	<br/>
	<a name="suggestions"/>
	<br/>${labelSuggestions} ($numSuggestions): [<a href="#top">${labelTop}</a>]
	<br/>----------------------------------------<br/>
	#if( $numSuggestions > 0 )
		${labelSuggestionsExplanation}
		<ul>
			#foreach( $s in $suggestions )
				<li>${s}</li>
			#end
		</ul>
	#else
		<p>${labelNone}</p>
	#end
</font>