<font size="1" face="Verdana">
	${summary}
	<br/><br/>
	#set ( $numFailures = ${failures.size()} )
	#set ( $numUpdateLinkFailures = ${updateLinkFailures.size()} )
	<a href="#successes">${labelSuccesses} ($numSuccesses)</a> | 
	<a href="#failures">${labelFailures} (${numFailures})</a> |
	<a href="#updateLinkFailures">${labelUpdateLinkFailures} (${numUpdateLinkFailures})</a> | 
	<br/>
	
	<a name="successes"/>
	<br/>${labelSuccesses} ($numSuccesses): [<a href="#top">${labelTop}</a>]
	<br/>----------------------------------------<br/>
	#if( $numSuccesses > 0 )
		#foreach( $successMap in $successes.entrySet() )
			#set ($firstItem = true)							
			#foreach( $success in $successMap.value )
				#if ($success.Root == false)
					#if ($firstItem == true)
						<br/><em>${successMap.key}</em>: <br/>
						#set ($firstItem = false)							
					#end
					${success.Original.Path}<br/>
				#end
			#end
		#end
	#else
		<span>${labelSuccessesNone}</span>
	#end
	<br/><br/>
	<a name="failures"/>
	<br/>${labelFailures} ($numFailures): [<a href="#top">${labelTop}</a>]
	<br/>----------------------------------------<br/>
	#if( $numFailures > 0 )
		#foreach( $failure in $failures )
			<br/>
			[${failure.LocalizedType}] ${failure.Original.Path}
			#set( $exception = ${failure.getErrorAsString()} )
			#if( $exception )
				<br/>
				<a href="#" onclick="var pre=document.getElementById('${failure.Original.Id}');pre.style.display=(pre.style.display=='none')?'':'none';return false;">${failure.Error.Message}</a> <img src="${contextPath}/css/images/arrow-down-dark.png"/>
				<pre id="${failure.Original.Id}" style="display: none;">${exception}</pre>
				<br/>
			#end
		#end
	#else
		<span>${labelFailuresNone}</span>
	#end
	<br/><br/>
	<a name="updateLinkFailures"/>
	<br/>${labelUpdateLinkFailures} ($numUpdateLinkFailures): [<a href="#top">${labelTop}</a>]
	<br/>----------------------------------------<br/>
	#if( $numUpdateLinkFailures > 0 )
		#foreach( $updateLinkfailure in $updateLinkFailures )
			<br/>
			[${updateLinkfailure.LocalizedType}] ${updateLinkfailure.Entity.Path}: ${updateLinkfailure.ErrorMessage}
		#end
	#else
		<span>${labelUpdateLinkFailuresNone}</span>
	#end
</font>