<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
  "http://www.springframework.org/dtd/spring-beans.dtd">
<!--+  
    | Spring configuration for our view/controller related beans, not including any
	| Struts-specific beans (actions, etc.)
    | 
    | Author:  Zach Bailey
	| Author:  Bradley Wagner
    | Version: $Id$
    | Since:   5.0
    +-->
<beans>
	
	<!-- Utility beans -->
	<bean id="loginChecks" class="com.hannonhill.cascade.view.struts.action.security.CascadeLoginChecks">
		<property name="postInitializationTasks" ref="postInitializationTasks"/>
	</bean>
	
	<bean id="performLogin" class="com.hannonhill.cascade.view.struts.security.StrutsPerformLogin">
		<property name="serviceProvider" ref="serviceProvider"/>
	</bean>
	
	<bean id="performLogout" class="com.hannonhill.cascade.view.struts.security.StrutsPerformLogout">
		<property name="serviceProvider" ref="serviceProvider"/>
	</bean>
	
	<!--  View Builders -->
	<bean id="viewBuilderProvider" class="com.hannonhill.cascade.model.service.view.builder.ViewBuilderProviderImpl">
		<property name="typeToViewBuildersMap" ref="typeToViewBuildersMap"/>
	</bean>
	<bean id="typeToViewBuildersMap" class="java.util.HashMap">	
		<constructor-arg>
			<map>
				<entry key-ref="blockEntityType" value-ref="blockViewBuilder"/>
				<entry key-ref="indexBlockEntityType" value-ref="blockViewBuilder"/>
				<entry key-ref="feedBlockEntityType" value-ref="blockViewBuilder"/>
				<entry key-ref="structuredDataBlockEntityType" value-ref="blockViewBuilder"/>
				<entry key-ref="textBlockEntityType" value-ref="blockViewBuilder"/>
				<entry key-ref="xmlBlockEntityType" value-ref="blockViewBuilder"/>
				<entry key-ref="twitterFeedBlockEntityType" value-ref="blockViewBuilder"/>
				
				<entry key-ref="formatEntityType" value-ref="formatViewBuilder"/>
				<entry key-ref="velocityFormatEntityType" value-ref="formatViewBuilder"/>
				<entry key-ref="xsltFormatEntityType" value-ref="formatViewBuilder"/>
				
				<entry key-ref="folderEntityType" value-ref="folderViewBuilder"/>
				<entry key-ref="pageEntityType" value-ref="pageViewBuilder"/>
				<entry key-ref="templateEntityType" value-ref="templateViewBuilder"/>
				<entry key-ref="metadataSetType" value-ref="metadataSetViewBuilder"/>
				<entry key-ref="pageConfigurationSetType" value-ref="pageConfigurationSetViewBuilder"/>
				<entry key-ref="roleType" value-ref="roleViewBuilder"/>
				<entry key-ref="structuredDataDefinitionType" value-ref="structuredDataDefinitionViewBuilder"/>
				<entry key-ref="assetFactoryContainerType" value-ref="assetFactoryContainerViewBuilder"/>
				<entry key-ref="pageConfigurationSetContainerType" value-ref="pageConfigurationSetContainerViewBuilder"/>
				<entry key-ref="targetType" value-ref="targetViewBuilder"/>
				<entry key-ref="fileEntityType" value-ref="fileViewBuilder"/>
				<entry key-ref="referenceEntityType" value-ref="referenceViewBuilder"/>
				<entry key-ref="symlinkEntityType" value-ref="symlinkViewBuilder"/>
				<entry key-ref="assetFactoryType" value-ref="assetFactoryViewBuilder"/>
				<entry key-ref="destinationType" value-ref="destinationViewBuilder"/>
				<entry key-ref="siteDestinationContainerType" value-ref="siteDestinationContainerViewBuilder"/>
				<entry key-ref="metadataSetContainerType" value-ref="metadataSetContainerViewBuilder"/>
				<entry key-ref="publishSetContainerType" value-ref="publishSetContainerViewBuilder"/>
				<entry key-ref="publishSetType" value-ref="publishSetViewBuilder"/>
				<entry key-ref="structuredDataDefinitionContainerType" value-ref="structuredDataDefinitionContainerViewBuilder"/>
				<entry key-ref="transportContainerType" value-ref="transportContainerViewBuilder"/>
				<entry key-ref="workflowDefinitionContainerType" value-ref="workflowDefinitionContainerViewBuilder"/>
				<entry key-ref="messageType" value-ref="messageViewBuilder"/>
				<entry key-ref="contentTypeContainerType" value-ref="contentTypeContainerViewBuilder"/>
				<entry key-ref="contentTypeType" value-ref="contentTypeViewBuilder"/>
				<entry key-ref="connectorContainerType" value-ref="connectorContainerViewBuilder"/>				
				<entry key-ref="wordPressConnectorType" value-ref="wordPressConnectorViewBuilder"/>
				<entry key-ref="twitterConnectorType" value-ref="twitterConnectorViewBuilder"/>
				<entry key-ref="googleAnalyticsConnectorType" value-ref="googleAnalyticsConnectorViewBuilder"/>
				<entry key-ref="facebookConnectorType" value-ref="facebookConnectorViewBuilder"/>
                <entry key-ref="spectateConnectorType" value-ref="spectateConnectorViewBuilder"/>
				
				<entry key-ref="transportType" value-ref="transportViewBuilder"/>
				<entry key-ref="ftpTransportType" value-ref="transportViewBuilder"/>
				<entry key-ref="fsTransportType" value-ref="transportViewBuilder"/>
				<entry key-ref="dbTransportType" value-ref="transportViewBuilder"/>
				
				<entry key-ref="userType" value-ref="userViewBuilder"/>
				<entry key-ref="groupType" value-ref="groupViewBuilder"/>
				<entry key-ref="workflowDefinitionType" value-ref="workflowDefinitionViewBuilder"/>
				<entry key-ref="workflowType" value-ref="workflowViewBuilder"/>
			</map>
		</constructor-arg>	
	</bean>
	
	<!-- Abstract view builder bean for injecting service wide dependencies -->
	<bean id="baseViewBuilder" abstract="true">
		<property name="serviceProvider" ref="serviceProvider"/>
		<property name="daoProvider" ref="daoProvider"/>
		<property name="transferHandlerProvider" ref="transferHandlerProvider"/> 
	</bean>
	
	<bean id="blockViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.BlockViewBuilder" parent="baseViewBuilder"/>
	<bean id="formatViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.FormatViewBuilder" parent="baseViewBuilder"/>
	<bean id="folderViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.FolderViewBuilder" parent="baseViewBuilder"/>
	<bean id="pageViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.PageViewBuilder" parent="baseViewBuilder" />
	<bean id="templateViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.TemplateViewBuilder" parent="baseViewBuilder"/>
	<bean id="metadataSetViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.MetadataSetViewBuilder" parent="baseViewBuilder"/>
	<bean id="pageConfigurationSetViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.PageConfigurationSetViewBuilder" parent="baseViewBuilder"/>
	<bean id="roleViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.RoleViewBuilder" parent="baseViewBuilder"/>
	<bean id="structuredDataDefinitionViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.StructuredDataDefinitionViewBuilder" parent="baseViewBuilder"/>
	<bean id="assetFactoryContainerViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.AssetFactoryContainerViewBuilder" parent="baseViewBuilder"/>
	<bean id="pageConfigurationSetContainerViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.PageConfigurationSetContainerViewBuilder" parent="baseViewBuilder"/>
	<bean id="targetViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.TargetViewBuilder" parent="baseViewBuilder"/>
	<bean id="transportViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.TransportViewBuilder" parent="baseViewBuilder"/>
	<bean id="userViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.UserViewBuilder" parent="baseViewBuilder"/>
	<bean id="workflowDefinitionViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.WorkflowDefinitionViewBuilder" parent="baseViewBuilder"/>
	<bean id="workflowViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.WorkflowViewBuilder" parent="baseViewBuilder"/>
	<bean id="fileViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.FileViewBuilder" parent="baseViewBuilder"/>
	<bean id="referenceViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.ReferenceViewBuilder" parent="baseViewBuilder"/>
	<bean id="symlinkViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.SymlinkViewBuilder" parent="baseViewBuilder"/>
	<bean id="assetFactoryViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.AssetFactoryViewBuilder" parent="baseViewBuilder"/>
	<bean id="destinationViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.DestinationViewBuilder" parent="baseViewBuilder"/>
	<bean id="siteDestinationContainerViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.SiteDestinationContainerViewBuilder" parent="baseViewBuilder"/>
	<bean id="metadataSetContainerViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.MetadataSetContainerViewBuilder" parent="baseViewBuilder"/>
	<bean id="publishSetContainerViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.PublishSetContainerViewBuilder" parent="baseViewBuilder"/>
	<bean id="publishSetViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.PublishSetViewBuilder" parent="baseViewBuilder"/>
	<bean id="structuredDataDefinitionContainerViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.StructuredDataDefinitionContainerViewBuilder" parent="baseViewBuilder"/>
	<bean id="transportContainerViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.TransportContainerViewBuilder" parent="baseViewBuilder"/>
	<bean id="workflowDefinitionContainerViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.WorkflowDefinitionContainerViewBuidler" parent="baseViewBuilder"/>
	<bean id="messageViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.MessageViewBuilder" parent="baseViewBuilder"/>
	<bean id="contentTypeContainerViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.ContentTypeContainerViewBuilder" parent="baseViewBuilder"/>
	<bean id="groupViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.GroupViewBuilder" parent="baseViewBuilder"/>
	<bean id="contentTypeViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.ContentTypeViewBuilder" parent="baseViewBuilder"/>
	<bean id="connectorContainerViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.ConnectorContainerViewBuilder" parent="baseViewBuilder"/>	
	<bean id="wordPressConnectorViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.WordPressConnectorViewBuilder" parent="baseViewBuilder"/>
	<bean id="twitterConnectorViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.TwitterConnectorViewBuilder" parent="baseViewBuilder"/>
	<bean id="googleAnalyticsConnectorViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.GoogleAnalyticsConnectorViewBuilder" parent="baseViewBuilder"/>
	<bean id="facebookConnectorViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.FacebookConnectorViewBuilder" parent="baseViewBuilder"/>
    <bean id="spectateConnectorViewBuilder" class="com.hannonhill.cascade.model.service.view.builder.SpectateConnectorViewBuilder" parent="baseViewBuilder"/>
</beans>