<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="emailQueue" class="com.hannonhill.cascade.email.ThreadedEmailQueue" init-method="initialize" destroy-method="destroy"> 
		<property name="serviceProvider" ref="serviceProvider"/>		
	</bean>
</beans>