<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="baseValidator" class="com.hannonhill.cascade.model.validation.BaseValidator" abstract="true">
		<property name="serviceProvider" ref="serviceProvider" />
	</bean>
	
	<bean id="aclEntryValidator" class="com.hannonhill.cascade.model.validation.ACLEntryValidator"/>
	<bean id="assetFactoryContainerValidator" class="com.hannonhill.cascade.model.validation.AssetFactoryContainerValidator" parent="baseValidator"/>
	<bean id="assetFactoryPluginParameterValidator" class="com.hannonhill.cascade.model.validation.AssetFactoryPluginParameterValidator"/>
	<bean id="assetFactoryPluginValidator" class="com.hannonhill.cascade.model.validation.AssetFactoryPluginValidator"/>
	<bean id="assetFactoryValidator" class="com.hannonhill.cascade.model.validation.AssetFactoryValidator"/>
	<bean id="auditValidator" class="com.hannonhill.cascade.model.validation.AuditValidator"/>
	<bean id="blobValidator" class="com.hannonhill.cascade.model.validation.BlobValidator"/>
	<bean id="blockValidator" class="com.hannonhill.cascade.model.validation.BlockValidator"/>
    <bean id="indexBlockValidator" class="com.hannonhill.cascade.model.validation.IndexBlockValidator"/>
    <bean id="feedBlockValidator" class="com.hannonhill.cascade.model.validation.FeedBlockValidator"/>
    <bean id="textBlockValidator" class="com.hannonhill.cascade.model.validation.TextBlockValidator"/>
    <bean id="structuredDataBlockValidator" class="com.hannonhill.cascade.model.validation.StructuredDataBlockValidator"/>
    <bean id="xmlBlockValidator" class="com.hannonhill.cascade.model.validation.XmlBlockValidator"/>
	<bean id="databaseTransportValidator" class="com.hannonhill.cascade.model.validation.DatabaseTransportValidator"/>
	<bean id="destinationValidator" class="com.hannonhill.cascade.model.validation.DestinationValidator"/>
	<bean id="siteDestinationContainerValidator" class="com.hannonhill.cascade.model.validation.SiteDestinationContainerValidator" parent="baseValidator"/>
	<bean id="dynamicMetadataFieldDefinitionValidator" class="com.hannonhill.cascade.model.validation.DynamicMetadataFieldDefinitionValidator"/>
	<bean id="dynamicMetadataFieldValidator" class="com.hannonhill.cascade.model.validation.DynamicMetadataFieldValidator"/>
	<bean id="fileSystemTransportValidator" class="com.hannonhill.cascade.model.validation.FileSystemTransportValidator"/>
	<bean id="fileValidator" class="com.hannonhill.cascade.model.validation.FileValidator"/>
	<bean id="ftpTransportValidator" class="com.hannonhill.cascade.model.validation.FTPTransportValidator"/>
	<bean id="groupValidator" class="com.hannonhill.cascade.model.validation.GroupValidator"/>
	<bean id="lockValidator" class="com.hannonhill.cascade.model.validation.LockValidator"/>
	<bean id="messageValidator" class="com.hannonhill.cascade.model.validation.MessageValidator"/>
	<bean id="metadataSetContainerValidator" class="com.hannonhill.cascade.model.validation.MetadataSetContainerValidator" parent="baseValidator"/>
	<bean id="metadataSetValidator" class="com.hannonhill.cascade.model.validation.MetadataSetValidator"/>
	<bean id="metadataValidator" class="com.hannonhill.cascade.model.validation.MetadataValidator"/>
	<bean id="pageConfigurationSetContainerValidator" class="com.hannonhill.cascade.model.validation.PageConfigurationSetContainerValidator" parent="baseValidator"/>
	<bean id="pageConfigurationSetValidator" class="com.hannonhill.cascade.model.validation.PageConfigurationSetValidator"/>
	<bean id="pageConfigurationValidator" class="com.hannonhill.cascade.model.validation.PageConfigurationValidator"/>
	<bean id="pageRegionValidator" class="com.hannonhill.cascade.model.validation.PageRegionValidator"/>
	<bean id="pageValidator" class="com.hannonhill.cascade.model.validation.PageValidator"/>
	<bean id="permissionsValidator" class="com.hannonhill.cascade.model.validation.PermissionsValidator"/>
	<bean id="publishSetContainerValidator" class="com.hannonhill.cascade.model.validation.PublishSetContainerValidator" parent="baseValidator"/>
	<bean id="publishSetRecordValidator" class="com.hannonhill.cascade.model.validation.PublishSetRecordValidator"/>
	<bean id="publishSetValidator" class="com.hannonhill.cascade.model.validation.PublishSetValidator"/>
	<bean id="referenceValidator" class="com.hannonhill.cascade.model.validation.ReferenceValidator"/>
	<bean id="roleValidator" class="com.hannonhill.cascade.model.validation.RoleValidator"/>
	<bean id="structuredDataDefinitionContainerValidator" class="com.hannonhill.cascade.model.validation.StructuredDataDefinitionContainerValidator" parent="baseValidator"/>
	<bean id="structuredDataDefinitionValidator" class="com.hannonhill.cascade.model.validation.StructuredDataDefinitionValidator"/>
	<bean id="structuredDataValidator" class="com.hannonhill.cascade.model.validation.StructuredDataValidator"/>
	<bean id="symlinkValidator" class="com.hannonhill.cascade.model.validation.SymlinkValidator"/>
	<bean id="targetValidator" class="com.hannonhill.cascade.model.validation.TargetValidator" parent="baseValidator"/>
	<bean id="transportContainerValidator" class="com.hannonhill.cascade.model.validation.TransportContainerValidator" parent="baseValidator" />
	<bean id="userValidator" class="com.hannonhill.cascade.model.validation.UserValidator"/>
	<bean id="templateValidator" class="com.hannonhill.cascade.model.validation.TemplateValidator"/>
	<bean id="velocityFormatValidator" class="com.hannonhill.cascade.model.validation.VelocityFormatValidator" parent="baseValidator"/>
	<bean id="workflowDefinitionContainerValidator" class="com.hannonhill.cascade.model.validation.WorkflowDefinitionContainerValidator" parent="baseValidator"/>
	<bean id="workflowDefinitionValidator" class="com.hannonhill.cascade.model.validation.WorkflowDefinitionValidator"/>
	<bean id="workflowValidator" class="com.hannonhill.cascade.model.validation.WorkflowValidator"/>
	<bean id="xsltFormatValidator" class="com.hannonhill.cascade.model.validation.XSLTFormatValidator"/>
	<bean id="folderValidator" class="com.hannonhill.cascade.model.validation.FolderValidator" parent="baseValidator" />
	<bean id="recycleRecordValidator" class="com.hannonhill.cascade.model.validation.RecycleRecordValidator" parent="baseValidator" />
	<bean id="contentTypeValidator" class="com.hannonhill.cascade.model.validation.ContentTypeValidator" parent="baseValidator"/>
	<bean id="contentTypeContainerValidator" class="com.hannonhill.cascade.model.validation.ContentTypeContainerValidator" parent="baseValidator"/>
	<bean id="siteValidator" class="com.hannonhill.cascade.model.validation.SiteValidator" parent="baseValidator"/>
	<bean id="connectorContainerValidator" class="com.hannonhill.cascade.model.validation.ConnectorContainerValidator" parent="baseValidator"/>	
	<bean id="wordPressConnectorValidator" class="com.hannonhill.cascade.model.validation.WordPressConnectorValidator" parent="baseValidator"/>	
	<bean id="twitterConnectorValidator" class="com.hannonhill.cascade.model.validation.TwitterConnectorValidator" parent="baseValidator"/>
	<bean id="facebookConnectorValidator" class="com.hannonhill.cascade.model.validation.FacebookConnectorValidator" parent="baseValidator"/>
	<bean id="googleAnalyticsConnectorValidator" class="com.hannonhill.cascade.model.validation.GoogleAnalyticsConnectorValidator" parent="baseValidator"/>
	<bean id="assetStatsValidator" class="com.hannonhill.cascade.model.validation.AssetStatsValidator" parent="baseValidator"/>
	<bean id="twitterFeedBlockValidator" class="com.hannonhill.cascade.model.validation.TwitterFeedBlockValidator" parent="baseValidator" />
		
	<bean id="validatorProvider" class="com.hannonhill.cascade.model.validation.ValidatorProviderImpl">
		<property name="validators">
			<list>
				<ref bean="aclEntryValidator"/>
				<ref bean="assetFactoryContainerValidator"/>
				<ref bean="assetFactoryPluginParameterValidator"/>
				<ref bean="assetFactoryPluginValidator"/>
				<ref bean="assetFactoryValidator"/>
				<ref bean="auditValidator"/>
				<ref bean="blobValidator"/>
				<ref bean="blockValidator"/>
                <ref bean="indexBlockValidator"/>
                <ref bean="feedBlockValidator"/>
                <ref bean="textBlockValidator"/>
                <ref bean="structuredDataBlockValidator"/>
                <ref bean="xmlBlockValidator"/>
				<ref bean="databaseTransportValidator"/>
				<ref bean="destinationValidator"/>
				<ref bean="siteDestinationContainerValidator" />
				<ref bean="dynamicMetadataFieldDefinitionValidator"/>
				<ref bean="dynamicMetadataFieldValidator"/>
				<ref bean="fileSystemTransportValidator"/>
				<ref bean="fileValidator"/>
				<ref bean="folderValidator"/>
				<ref bean="ftpTransportValidator"/>
				<ref bean="groupValidator"/>
				<ref bean="lockValidator"/>
				<ref bean="messageValidator"/>
				<ref bean="metadataSetContainerValidator"/>
				<ref bean="metadataSetValidator"/>
				<ref bean="metadataValidator"/>
				<ref bean="pageConfigurationSetContainerValidator"/>
				<ref bean="pageConfigurationSetValidator"/>
				<ref bean="pageConfigurationValidator"/>
				<ref bean="pageRegionValidator"/>
				<ref bean="pageValidator"/>
				<ref bean="permissionsValidator"/>
				<ref bean="publishSetContainerValidator"/>
				<ref bean="publishSetRecordValidator"/>
				<ref bean="publishSetValidator"/>
				<ref bean="referenceValidator"/>
				<ref bean="roleValidator"/>
				<ref bean="structuredDataDefinitionContainerValidator"/>
				<ref bean="structuredDataDefinitionValidator"/>
				<ref bean="structuredDataValidator"/>
				<ref bean="xsltFormatValidator"/>
				<ref bean="symlinkValidator"/>
				<ref bean="targetValidator"/>
				<ref bean="transportContainerValidator" />
				<ref bean="templateValidator"/>
				<ref bean="userValidator"/>
				<ref bean="velocityFormatValidator"/>
				<ref bean="workflowDefinitionContainerValidator"/>
				<ref bean="workflowDefinitionValidator"/>
				<ref bean="workflowValidator"/>
				<ref bean="recycleRecordValidator"/>
				<ref bean="contentTypeValidator"/>
				<ref bean="contentTypeContainerValidator"/>
				<ref bean="siteValidator"/>
				<ref bean="connectorContainerValidator"/>
				<ref bean="wordPressConnectorValidator"/>
				<ref bean="twitterConnectorValidator"/>
				<ref bean="facebookConnectorValidator"/>
				<ref bean="googleAnalyticsConnectorValidator"/>
				<ref bean="assetStatsValidator"/>
				<ref bean="twitterFeedBlockValidator" />
			</list>
		</property>
	</bean>
</beans>