<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="blockEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>block</value>
		</constructor-arg>
	</bean>
	<bean id="feedBlockEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>block_FEED</value>
		</constructor-arg>
	</bean>
	<bean id="indexBlockEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>block_INDEX</value>
		</constructor-arg>
	</bean>
	<bean id="textBlockEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>block_TEXT</value>
		</constructor-arg>
	</bean>
	<bean id="xmlBlockEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>block_XML</value>
		</constructor-arg>
	</bean>
	<bean id="structuredDataBlockEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>block_STRUCTUREDDATA</value>
		</constructor-arg>
	</bean>
	<bean id="twitterFeedBlockEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>block_TWITTER_FEED</value>
		</constructor-arg>
	</bean>
	<bean id="folderEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>folder</value>
		</constructor-arg>
	</bean>
	<bean id="fileEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>file</value>
		</constructor-arg>
	</bean>
	<bean id="pageEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>page</value>
		</constructor-arg>
	</bean>
	<bean id="referenceEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>reference</value>
		</constructor-arg>
	</bean>
	<bean id="formatEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>format</value>
		</constructor-arg>
	</bean>
	<bean id="xsltFormatEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>format_XSLT</value>
		</constructor-arg>
	</bean>
	<bean id="velocityFormatEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>format_SCRIPT</value>
		</constructor-arg>
	</bean>
	<bean id="symlinkEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>symlink</value>
		</constructor-arg>
	</bean>
	<bean id="templateEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>template</value>
		</constructor-arg>
	</bean>

	<!-- Admin area types -->
	<bean id="assetFactoryType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>assetfactory</value>
		</constructor-arg>
	</bean>
	<bean id="assetFactoryContainerType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>assetfactorycontainer</value>
		</constructor-arg>
	</bean>
	<bean id="destinationType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>destination</value>
		</constructor-arg>
	</bean>
	<bean id="siteDestinationContainerType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>sitedestinationcontainer</value>
		</constructor-arg>
	</bean>
	<bean id="metadataSetContainerType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>metadatasetcontainer</value>
		</constructor-arg>
	</bean>
	<bean id="metadataSetType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>metadataset</value>
		</constructor-arg>
	</bean>
	<bean id="pageConfigurationSetType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>pageconfigurationset</value>
		</constructor-arg>
	</bean>
	<bean id="pageConfigurationSetContainerType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>pageconfigurationsetcontainer</value>
		</constructor-arg>
	</bean>
	<bean id="publishSetContainerType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>publishsetcontainer</value>
		</constructor-arg>
	</bean>
	<bean id="publishSetType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>publishset</value>
		</constructor-arg>
	</bean>
	<bean id="structuredDataDefinitionType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>structureddatadefinition</value>
		</constructor-arg>
	</bean>
	<bean id="structuredDataDefinitionContainerType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory"
		factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>structureddatadefinitioncontainer</value>
		</constructor-arg>
	</bean>
	<bean id="targetType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>target</value>
		</constructor-arg>
	</bean>
	<bean id="transportType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>transport</value>
		</constructor-arg>
	</bean>
	<bean id="ftpTransportType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>transport_ftp</value>
		</constructor-arg>
	</bean>
	<bean id="fsTransportType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>transport_fs</value>
		</constructor-arg>
	</bean>
	<bean id="dbTransportType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>transport_db</value>
		</constructor-arg>
	</bean>
	<bean id="transportContainerType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>transportcontainer</value>
		</constructor-arg>
	</bean>
	<bean id="workflowDefinitionType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>workflowdefinition</value>
		</constructor-arg>
	</bean>
	<bean id="workflowDefinitionContainerType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>workflowdefinitioncontainer</value>
		</constructor-arg>
	</bean>
	<bean id="workflowType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>workflow</value>
		</constructor-arg>
	</bean>
	<bean id="messageType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>message</value>
		</constructor-arg>
	</bean>
	<bean id="userType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>user</value>
		</constructor-arg>
	</bean>
	<bean id="groupType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>group</value>
		</constructor-arg>
	</bean>
	<bean id="roleType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>role</value>
		</constructor-arg>
	</bean>
	<bean id="contentTypeContainerType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>contenttypecontainer</value>
		</constructor-arg>
	</bean>
	<bean id="contentTypeType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>contenttype</value>
		</constructor-arg>
	</bean>
	<bean id="auditType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>audit</value>
		</constructor-arg>
	</bean>	
	<bean id="pageConfigurationType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>pageconfiguration</value>
		</constructor-arg>
	</bean>	
	<bean id="siteType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>site</value>
		</constructor-arg>
	</bean>
		<bean id="connectorType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>connector</value>
		</constructor-arg>
	</bean>
	<bean id="connectorContainerType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>connectorcontainer</value>
		</constructor-arg>
	</bean>
	<bean id="twitterConnectorType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>twitterconnector</value>
		</constructor-arg>
	</bean>
	<bean id="googleAnalyticsConnectorType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>googleanalyticsconnector</value>
		</constructor-arg>
	</bean>
	<bean id="wordPressConnectorType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>wordpressconnector</value>
		</constructor-arg>
	</bean>
	<bean id="facebookConnectorType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>facebookconnector</value>
		</constructor-arg>
	</bean>
    <bean id="spectateConnectorType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
        <constructor-arg>
            <value>spectateconnector</value>
        </constructor-arg>
    </bean>
	<bean id="assetStatsType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>assetstats</value>
		</constructor-arg>
	</bean>
	<bean id="blobType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>blob</value>
		</constructor-arg>
	</bean>
	<bean id="pageRegionType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>pageregion</value>
		</constructor-arg>
	</bean>
	<bean id="structuredDataType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>structureddata</value>
		</constructor-arg>
	</bean>
	<bean id="unpublishableEntityType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>unpublishableentity</value>
		</constructor-arg>
	</bean>
	<bean id="historyItemType" class="com.hannonhill.cascade.model.dom.identifier.EntityTypeFactory" factory-method="getExplicitEntityType">
		<constructor-arg>
			<value>historyitem</value>
		</constructor-arg>
	</bean>
</beans>